<link rel="stylesheet" href="./info-card.css" />

<!-- <div id="sellerCardContainer"></div> -->

<div class="info-card-container">
  <div style="width: 100%">Info</div>

  <div class="row">
    <img src="../../assets/images/icon1.svg" />
    <div class="title">Price</div>
    <div class="value">$10</div>
  </div>
  <div class="row">
    <img src="../../assets/images/icon2.svg" />
    <div class="title">Delivery Duration</div>
    <div class="value">1 Day</div>
  </div>
  <div class="row">
    <img src="../../assets/images/icon3.svg" />
    <div class="title">In Progress Orders</div>
    <div class="value">2</div>
  </div>
  <div class="row">
    <img src="../../assets/images/icon4.svg" />
    <div class="title">Customers</div>
    <div class="value">2</div>
  </div>
  <div class="row">
    <img src="../../assets/images/icon5.svg" />
    <div class="title">Sales</div>
    <div class="value">$25</div>
  </div>
  <div class="row">
    <img src="../../assets/images/icon6.svg" />
    <div class="title">Category</div>
    <div class="value">Design</div>
  </div>
  <div class="row">
    <img src="../../assets/images/icon7.svg" />
    <div class="title">Subcategory</div>
    <div class="value">Logo Design</div>
  </div>
</div>

<script src="./info-card.js"></script>
