.seller-card-container {
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: bold;
}
.row {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.button {
  width: 100%;
  background-color: #1dbf73;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
