<link rel="stylesheet" href="./seller-card.css" />

<!-- <div id="sellerCardContainer"></div> -->

<div class="seller-card-container">
  <div style="margin-right: auto">Seller</div>
  <img src="../../assets/images/seller.svg" />
  <div class="row">
    <div>Jane Smith</div>
    <img src="../../assets/images/verified.svg" />
  </div>
  <div class="row">
    <img src="../../assets/images/location.svg" />
    <div style="color: var(--grey)">Cairo, Egypt</div>
  </div>
  <div class="row">
    <div>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
    <div style="color: var(--grey)">4.1 (500)</div>
  </div>
  <div class="row">
    <img src="../../assets/images/medal.svg" />
    <img src="../../assets/images/logout.svg" />
    <img src="../../assets/images/id.svg" />
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam Lorem ipsum
    dolor sit amet..
  </div>
  <button class="button">Contact Me</button>
</div>

<script src="./seller-card.js"></script>
